In [1]:
import pandas as pd
df = pd.read_csv("/Users/shashidharreddythangella/Desktop/Final Project/Data_source_removed.csv")
sample = pd.read_csv("/Users/shashidharreddythangella/Desktop/Final Project/subsettinginput_1995nov.csv",header=None)
df = pd.DataFrame(df)
df = df.apply(lambda x: x.astype(str).str.lower())
sample = pd.DataFrame(sample)
sample = sample.apply(lambda x: x.astype(str).str.lower())
df.columns = map(str.lower, df.columns)

In [2]:
df.head(5)

,market,metric,currency_id,money,unit_id,continent,sub_continent,country,organization/author
0,beauty and personal care,market size,united states dollar,3.90e+11,no value found,no value found,no value found,no value found,research and markets
1,beauty and personal care,market size,united states dollar,9.55e+11,no value found,no value found,no value found,no value found,grand view research
2,cast acrylic sheets,market size,united states dollar,9051719570,no value found,no value found,no value found,no value found,markets and markets
3,cast acrylic sheets,market size,united states dollar,3642658050,no value found,no value found,no value found,no value found,markets and markets
4,cast acrylic sheets,market size,united states dollar,2161639100,no value found,no value found,no value found,no value found,markets and markets

In [3]:
sample.head(15)

                        0                    1
0  construction equipment               market
1             market size               metric
2             pr newswire  organization/author
3    united states dollar          currency_id
4                       #                  nan
5    united states dollar          currency_id
6  desktop virtualization               market
7        techsci research  organization/author
8                       #                  nan

In [4]:
df.shape

(2535, 9)

In [5]:
#detect question boundary
a=sample.index[sample[0] == '#']
index=list(a)
index
no_of_question= len(index)
no_of_question

2

In [6]:
target_column=['Money','Money']
target_column = [x.lower() for x in target_column] 
print(type(target_column))

<class 'list'>

In [13]:
def lookup (sub_list_e,sub_list_t,df,q_num):
    #print("inside lookup funtion")
    sample_sub_dict = dict(zip(sub_list_t, sub_list_e))
#   print(sample_sub_dict)
    val = sample_sub_dict.values()
    key = sample_sub_dict.keys()
    
    for k,v in sample_sub_dict.items():
        sdf = subset_return(df,k,v)
        #print(sdf.shape)
        df = sdf  
    print("answer here :",df[target_column[q_num]])
    return sample_sub_dict

def subset_return(df,k,v):
    #print("inside subset_return function")
    return df[df[str(k)] == str(v)]

In [14]:
#read csv sample
list_e = sample[0].tolist()
list_t = sample[1].tolist()
counter=0
q_num=0
#question wise lists
for i in index:
    sub_list_e=list_e[counter:i]
    sub_list_t=list_t[counter:i]
    counter=i+1
    lookup(sub_list_e,sub_list_t,df,q_num)
    q_num=q_num+1
    print("*")

answer here : 322    6.30e+11
Name: money, dtype: object
*
answer here : 401    73804230960
Name: money, dtype: object
*